---
permalink: /llms.txt
eleventyExcludeFromCollections: true
---
# {{ site.name }}

{{ site.name }} is {{ site.bio }}. This site is his portfolio: engineering, programming, and independent research projects (French, with an English translation under /en/). Contact: ruben.gariazzo@epfedu.fr. LinkedIn: {{ site.sameAs[0] }}. GitHub: {{ site.sameAs[1] }}.

## Projets (français)
{%- for project in collections.projects %}
{%- if project.data.lang == "fr" %}
- [{{ project.data.title | safe }}]({{ site.url }}{{ project.url }}): {{ project.data.description | safe }}
{%- endif %}
{%- endfor %}

## Projects (English)
{%- for project in collections.projects %}
{%- if project.data.lang == "en" %}
- [{{ project.data.title | safe }}]({{ site.url }}{{ project.url }}): {{ project.data.description | safe }}
{%- endif %}
{%- endfor %}
